body {
    margin: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

h1 {
    font-family: 'Koulen', cursive;
    font-size: 50px;
    margin: 0px;
}

/* heading */

.heading {
    display: flex;
    justify-content: space-between;
}

.not-mona h2 {
    margin: 0;
}


/* container flex-box centered */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* links | a */
.links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.links a:hover {
    color: rgb(209, 209, 201);
}

#playlist a {
    color: black;
    text-decoration: none;
}

#playlist a:hover {
    color: rgb(68, 67, 67);
}


/* table */
table {
    margin: 0 auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px ridge;
}

/*list stuff */
.list-heading {
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* background color */

.bg-white {
    background-color: white;
    color: black;
    padding: 14px;
}

.bg-black {
    background-color: black;
    color: white;
    padding: 14px;
}

/* images */
.mona-smile {
    margin: 0 auto 5px auto;
    border-radius: 50%;
    width: 200px;
}

/* content */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: 12px;
}


/* footer */

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(209, 209, 201);
}